@using Daneshgah.MethodHa.TabdilTarikh
@model List<Article>
@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <div class="text-center">
        <h2 class="mt-5 mb-5 text-title-experts">مقالات  </h2>
        <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-12 box-shadow pt-5 box-container mt-5 pb-3">
            <a asp-controller="Admin" asp-action="AddArticle" class="btn btn-darkaqua mb-3">افزودن مقاله جدید</a>

            @if(ViewData["SuccessDelete"]!=null)
            {
                <span class="alert alert-success float-left">@ViewData["SuccessDelete"]</span>
            }
            <table class="table table-bordered table-responsive-sm table-hover">
                <thead class="thead-custom">
                <tr class="text-center">
                    <th height="20" class="xl636160" align="left" width="20" style="height: 15.0pt; width: 15pt">
                        شماره
                    </th>
                    <th>عنوان</th>
                    <th>موضوع</th>
                    <th>شابک</th>
                    <th>تعداد صفحات</th>
                    <th>سال انتشار</th>
                    <th>ناشر</th>
                </tr>
                </thead>
                <tbody>
                @foreach(var article in Model)
                {
                    <tr>
                        <td>@article.Id</td>
                        <td>@article.Title</td>
                        <td>@article.Topic</td>
                        <td>@article.ISBN</td>
                        <td>@article.PageCount</td>
                        <td>@article.PublicationYear.ToShamsiCalender()</td>
                        <td>@article.Publisher</td>
                        <td>
                            <a asp-controller="Admin" asp-action="DeleteArticle" asp-route-articleId="@article.Id" class="btn btn--danger">حذف</a>
                            <a asp-controller="Admin" asp-action="EditArticle" asp-route-articleId="@article.Id" class="btn btn-info">تغییر </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>